@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  min-height: 100vh;
  background: linear-gradient(135deg, rgba(59, 15, 15, 0.936),#617120, #0d170a);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.card {
  width: 100%;
  max-width: 900px;
  padding: 22px;
  border-radius: 22px;
  background: rgba(255, 255, 255, 0.18);
  backdrop-filter: blur(18px);
  box-shadow: 0 25px 50px rgba(0,0,0,0.25);
  color: #ffffff;
}

h2 {
  text-align: center;
  font-weight: 600;
}

#cityName {
  margin-top: 10px;
  text-align: center;
  font-size: 24px;
  opacity: 0.95;
}

#temp {
  text-align: center;
  font-size: 52px;
  font-weight: 600;
  margin: 8px 0 18px;
}

input {
  width: 100%;
  padding: 12px;
  border-radius: 14px;
  border: none;
  outline: none;
  margin-top: 10px;
}

button {
  width: 100%;
  padding: 12px;
  margin-top: 8px;
  border: none;
  border-radius: 14px;
  background: linear-gradient(135deg, #104570, #1e88e5);
  color: white;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 25px rgba(11, 119, 207, 0.6);
}

h3 {
  margin: 18px 0 8px;
  font-weight: 500;
}

.hourly {
  display: flex;
  gap: 14px;
  overflow-x: auto;
  padding-bottom: 8px;
}

.hourly::-webkit-scrollbar {
  height: 6px;
}

.hourly::-webkit-scrollbar-thumb {
  background: rgb(85, 186, 214);
  border-radius: 10px;
}

.daily {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
}

.hour-card,
.day-card {
  background: rgba(255,255,255,0.25);
  backdrop-filter: blur(8px);
  border-radius: 18px;
  padding: 14px;
  text-align: center;
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.3),
              0 10px 25px rgba(0,0,0,0.2);
  transition: transform 0.25s ease;
}

.hour-card:hover,
.day-card:hover {
  transform: translateY(-5px);
}

.hour-card {
  min-width: 120px;
  flex-shrink: 0;
}

.day-card {
  flex: 1 1 calc(20% - 14px);
  min-width: 150px;
}

.time,
.day {
  font-size: 13px;
  opacity: 0.85;
}

.temp {
  font-size: 18px;
  font-weight: 600;
  margin-top: 6px;
}
